---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/22855/images?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"3b777aefe8e4b36ee5b2b5919333c4b5"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '723'
      X-Memc-Expires:
      - '20877'
      X-Memc-Key:
      - 4aff3b85107bbcda44f69ea1209ea382
    body:
      encoding: UTF-8
      string: '{"id":22855,"backdrops":[{"aspect_ratio":1.78,"file_path":"/mXuqM7ksHW1AJ30AInwJvJTAwut.jpg","height":720,"iso_639_1":null,"vote_average":5.36996336996337,"vote_count":2,"width":1280},{"aspect_ratio":1.78,"file_path":"/aMyEMGuW2NV3A0whuEM7VKp6M73.jpg","height":1080,"iso_639_1":null,"vote_average":5.31868131868132,"vote_count":2,"width":1920},{"aspect_ratio":1.78,"file_path":"/fc3JlFrbOXHWnzaUqkwcW0u8BuS.jpg","height":439,"iso_639_1":null,"vote_average":5.31135531135531,"vote_count":2,"width":780},{"aspect_ratio":1.78,"file_path":"/lyyrzTt8RrMzchvNlZTEEMxtJHi.jpg","height":720,"iso_639_1":null,"vote_average":5.26041666666667,"vote_count":1,"width":1280},{"aspect_ratio":1.78,"file_path":"/cMLod6UcMIl51WdRXuqDnmBANHP.jpg","height":720,"iso_639_1":null,"vote_average":5.25297619047619,"vote_count":1,"width":1280},{"aspect_ratio":1.78,"file_path":"/k7WrRhj284mQ06cfsds3gFlUgKY.jpg","height":720,"iso_639_1":null,"vote_average":5.24542124542125,"vote_count":2,"width":1280},{"aspect_ratio":1.78,"file_path":"/lvG1Wtb6PDQpSiIsx28kdNMYD2f.jpg","height":720,"iso_639_1":null,"vote_average":0.0,"vote_count":0,"width":1280}],"posters":[{"aspect_ratio":0.67,"file_path":"/7eaHkUKAzfstt6XQCiXyuKiZUAw.jpg","height":1500,"iso_639_1":"en","vote_average":5.3125,"vote_count":1,"width":1000},{"aspect_ratio":0.67,"file_path":"/pBMLISLHsseKDssG94432dZ7bjj.jpg","height":1500,"iso_639_1":"hu","vote_average":5.3125,"vote_count":1,"width":1000},{"aspect_ratio":0.67,"file_path":"/a7MCcerrKaY32A9UQ4m1BTOsxEG.jpg","height":1500,"iso_639_1":"en","vote_average":5.23809523809524,"vote_count":2,"width":1000},{"aspect_ratio":0.71,"file_path":"/uHkv[...]
