---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/popular?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"9e050788f9bf16ff7b4c2118ca61492b"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '12173'
      X-Memc-Expires:
      - '2227'
      X-Memc-Key:
      - eb13032fb1ef09086dcaac2d14c098c0
    body:
      encoding: US-ASCII
      string: ! '{"page":1,"results":[{"adult":false,"backdrop_path":"/zkBSu5jNI9YrAGvvy8cAAc7BZX5.jpg","id":97020,"original_title":"RoboCop","release_date":"2014-02-07","poster_path":"/v1V77YJXZ0xfLltLugOvkhZx4Zr.jpg","popularity":69.7250513979179,"title":"RoboCop","vote_average":7.0,"vote_count":43},{"adult":false,"backdrop_path":"/hz3JfAikYXtaNWIJhWM4p5sy5OZ.jpg","id":49047,"original_title":"Gravity","release_date":"2013-10-04","poster_path":"/2gPjLWIyrWlAn2DgKMOKTBnZYyO.jpg","popularity":69.1422644367615,"title":"Gravity","vote_average":8.0,"vote_count":624},{"adult":false,"backdrop_path":"/3FweBee0xZoY77uO1bhUOlQorNH.jpg","id":76338,"original_title":"Thor:
        The Dark World","release_date":"2013-11-08","poster_path":"/aROh4ZwLfv9tmtOAsrnkYTbpujA.jpg","popularity":53.990131981116[...]
