---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5/trailers?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"04fdcd3cc13af496b93938341b895979"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '10097'
      X-Memc-Expires:
      - '11503'
      X-Memc-Key:
      - e25f2806e5038cfa9e02eed0c6e629a5
    body:
      encoding: US-ASCII
      string: ! '{"id":5,"quicktime":[],"youtube":[{"name":"Trailer 1","size":"Standard","source":"Rieq_TR7cV0","type":"Trailer"},{"name":"Trailer
        2","size":"HQ","source":"S_Pd2pGkq54","type":"Trailer"}]}'
  recorded_at: Fri, 21 Feb 2014 10:50:32 GMT
recorded_with: VCR 2.5.0
