---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/5/releases?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - '"1e63c00226abc67f61bdf5f8dc3286d5"'
      Status:
      - 200 OK
      X-Memc:
      - HIT
      X-Memc-Age:
      - '11629'
      X-Memc-Expires:
      - '9971'
      X-Memc-Key:
      - 07994aba3d89059b5fe91124ff8b2ffa
    body:
      encoding: UTF-8
      string: '{"id":5,"countries":[{"iso_3166_1":"US","certification":"R","release_date":"1995-12-25"},{"iso_3166_1":"DE","certification":"16","release_date":"1996-02-29"},{"iso_3166_1":"CZ","certification":"","release_date":"1997-07-31"},{"iso_3166_1":"GB","certification":"18","release_date":"1995-12-26"}]}'
  recorded_at: Fri, 14 Feb 2014 09:13:10 GMT
recorded_with: VCR 2.5.0
