---
http_interactions:
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"35f4f5aab5bb1fdd5a3f1cb24a00cfb3"'
      Last-Modified:
      - '2014-02-21 09:45:23 UTC'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
    body:
      encoding: US-ASCII
      string: ! '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"}],"homepage":null,"id":256549,"imdb_id":"tt1493830","original_title":"Somewhere
        Between Here and Now","overview":null,"popularity":0.0,"poster_path":"/cBOlQKhok9BF42fG2OUbP3NnBuG.jpg","production_companies":[],"production_countries":[],"release_date":"2009-06-29","revenue":0,"runtime":null,"spoken_languages":[],"status":"Released","tagline":null,"title":"Somewhere
        Between Here and Now","vote_average":0.0,"vote_count":0}'
  recorded_at: Fri, 21 Feb 2014 10:02:29 GMT
[...]
- request:
    method: get
    uri: http://api.themoviedb.org/3/movie/latest?api_key=8a221fc31fcdf12a8af827465574ffc9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - ! '"35f4f5aab5bb1fdd5a3f1cb24a00cfb3"'
      Last-Modified:
      - '2014-02-21 09:45:23 UTC'
      Status:
      - 200 OK
      X-Memc:
      - MISS
      X-Memc-Age:
      - '0'
      X-Memc-Expires:
      - '0'
      X-Memc-Key:
      - 7d7c5a5093dfb9d7fcd7412f9fd461eb
    body:
      encoding: US-ASCII
      string: ! '{"adult":false,"backdrop_path":null,"belongs_to_collection":null,"budget":0,"genres":[{"id":18,"name":"Drama"}],"homepage":null,"id":256549,"imdb_id":"tt1493830","original_title":"Somewhere
        Between Here and Now","overview":null,"popularity":0.0,"poster_path":"/cBOlQKhok9BF42fG2OUbP3NnBuG.jpg","production_companies":[],"production_countries":[],"release_date":"2009-06-29","revenue":0,"runtime":null,"spoken_languages":[],"status":"Released","tagline":null,"title":"Somewhere
        Between Here and Now","vote_average":0.0,"vote_count":0}'
  recorded_at: Fri, 21 Feb 2014 10:02:32 GMT
recorded_with: VCR 2.5.0
